<wbr-pivot #pivot1 [toolbar]="false"
           [width]="'100%'"
           [height]="500"
           [customizeCell]="onCustomizeCell"
           (ready)="onPivotReady($event)"
           (reportcomplete)="onReportComplete($event)">
  WebDataRocks will appear here
</wbr-pivot>
<div id="googlechartContainer"></div>

